* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  
  /* background: #3a6186;  
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);  
  background: linear-gradient(to right, #89253e, #3a6186);  */

}


